<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav class="nav-tabs">
      <ul>
        {% for item in navigation | sort(attribute="order") %}
         <li class="{% if page.url == item.url %}active{% endif %}">
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    {{ content | safe }}
  </body>
</html>
